@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --main-bg-color: #f9f9f9;
    --main-color: #1c3d5a;
    --primary-color: #ff6f61; 
    --secondary-color: #228765; 
    --error-bg-color: #ff4d4d; 
    --transition-speed: 0.3s; 
    --padding-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; 
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
}

button {
    width: 180px;
    height: 50px;
    background-color: var(--main-color);
    border: none;
    border-radius: 30px;
    color: var(--main-bg-color);
    font-size: 16px;
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: var(--primary-color); 
    transform: scale(1.05); 
}

button:active {
    transform: scale(0.98); 
}

.user-message {
    background-color: var(--secondary-color);
    color: var(--main-bg-color);
    border-radius: 8px;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.user-message.error{
    background-color: var(--error-bg-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

form {
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;  
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

form:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); 
}

form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

form input:focus {
    border-color: #4e8eff;
    box-shadow: 0 0 5px rgba(78, 142, 255, 0.5); 
}

form label{
    background-color: #ffffff;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

h1{
    text-align: center;
    font-weight: 700;
    color:  var(--main-color);
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--padding-size);
    background-color: #ffffff;
    width:100%;
}

.form-wrapper{
    width: 100vw;
    height: auto;
    position: relative;
  }
